body {
  filter: invert(88%);
  background-color: #1f1f1f !important;
}

#page img,
.img-wrapper,
span[role="img"] {
  filter: invert(88%);
}

.css-gim7cw {
  background-color: #0747A6;
  color: #DEEBFF;
  fill: #0747A6;
}